.popular-movies{
  /* border: 2px solid red; */
  width: 91vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
  gap: 2rem;
}

img{
  /* border: 2px solid oldlace; */
  height: 250px;
  /* height: 30vh;
  object-fit: cover; */
  border-radius: 1rem;
}

p{
  font-size: .8rem;
}

.active{
  background-color: #646cff;
}